[Desktop Entry]
Type=Application
Name=Terminal
Comment=Open the preferred terminal
Exec=exo-open --launch TerminalEmulator
Icon=utilities-terminal
Terminal=false
