[Unit]
Description=AGIOS Apache Guacamole display gateway
After=network.target
ConditionKernelCommandLine=!agios.guest
[Service]
Type=simple
User=agi-web
Group=agi-web
RootImage=/usr/local/share/agi-os/guacd.sqfs
MountAPIVFS=yes
TemporaryFileSystem=/tmp
WorkingDirectory=/tmp
ExecStart=/opt/guacamole/sbin/guacd -b 127.0.0.1 -l 14822 -f
Restart=on-failure
RestartSec=3
[Install]
WantedBy=multi-user.target
